BitchX/BitchX.away
chromium/
config/QtProject.conf
config/Skype
config/Trolltech.conf
config/blockify
config/dconf
config/enchant/
config/gedit
config/inkscape/
config/menus
config/menus/applications-merged
config/menus/applications-merged/user-chrome-apps.menu
config/nvim/plugins
config/pulse
config/ranger
config/spotify
config/sublime-text-2
config/sublime-text-3
config/transmission
config/vlc
libreoffice/
vim/view/
