BitchX/BitchX.away
chromium/
config/blockify
config/dconf
config/gedit
config/pulse
config/QtProject.conf
config/ranger
config/spotify
config/sublime-text-2
config/sublime-text-3
config/transmission
config/Trolltech.conf
config/vlc
libreoffice/
vim/view/
